<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net472" />
  <package id="AutoMapper.Extensions.Microsoft.DependencyInjection" version="8.1.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting" version="7.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Console" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Debug" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="7.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1661.34" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="RestSharp" version="109.0.1" targetFramework="net472" />
  <package id="rNascar23.Sdk" version="1.0.8" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.Extensions.Logging" version="3.1.0" targetFramework="net472" />
  <package id="Serilog.Settings.Configuration" version="3.4.0" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>